<div class="container">
  {{! <nav class="breadcrumbs"> }}
    {{! <p> / <a href="#ignore-click" class="breadcrumbs__link">The Essentials</a> / <a href="#ignore-click" class="breadcrumbs__link"> Multi-screen layouts</a></p> }}
  {{! </nav> }}

  <h1 class="tag editorial-header__title">Layout Basics</h1>
  <h2 class="editorial-header__subtitle">What is BoliviaJS?</h2>
  <p class="editorial-header__excerpt g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor. Sed vitae varius augue, eu varius dolor. </p>
  <p class="g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor. Donec augue diam, scelerisque eget lectus in, posuere aliquet mi. Pellentesque suscipit nisl gravida sem tincidunt, id blandit turpis commodo.</p>

 <div class="container">
   <a name="article-navigation"></a>
   <h2 class="subsection-title">Blog navigation</h2>
 </div>

 <div class="code-sample">
   <section class="styleguide__article-nav">
     <div class="container-medium">
       <nav class="article-nav">
         <a href="#ignore-click" class="article-nav-link article-nav-link--prev">
           <p class="article-nav-count">02</p>
           <p>A need for responsive pages</p>
         </a>
         <a href="#ignore-click" class="article-nav-link article-nav-link--next">
           <p class="article-nav-count">04</p>
           <p>Create images for multiple resolutions</p>
         </a>
       </nav>
     </div>
   </section>
 </div>

</div>